<div class="sub-footer bg-bossanova">
    <div class="container__box">
        <svg class="icon-twitter fill-charcoal">
            <use xlink:href="#icon-twitter"></use>
        </svg>
        <span>“ E-commerce psd theme available ”</span>
    </div>
</div>
<div class="footer-layout bg-charcoal">
    <div class="container__box">
        <div class="row">
            <div class="col-md-5 left__box">
                <div class="title">Trekking</div>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-md-13 right__box">
                <div class="menu menu__footer">
                    <ul class="list">
                        <li>
                            <a href="javascript:void(0);">credits</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Privacy</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">about</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">contact</a>
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>Design by <a href="javascript:void(0)">gianluca cosetta</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
