<div class="container__box">
    <div class="sub-footer">
        <i class="icon icon-twitter"></i>
        <span>“ E-commerce psd theme available ”</span>
    </div>
    <div class="footer-layout">
        <div class="left">
            <div class="title">Trekking</div>
            <div class="desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="right">
            <div class="menu menu__footer">
                <ul class="list">
                    <li>credits</li>
                    <li>Privacy</li>
                    <li>about</li>
                    <li>contact</li>
                </ul>
            </div>
            <div class="copyright">
                <p>Design by <a href="javascript:void(0)">gianluca cosetta</a></p>
            </div>
        </div>
    </div>
</div>
