<div ng-controller="CatalogCtrl as catalog">
    <div class="filter__box bg-alice-blue">
        <div class="container__box">
            <div class="row">
                <div class="col-md-9">
                    <div class="checkbox-group">
                        <div class="checkbox">
                            <input type="checkbox"
                                   name="typeMen"
                                   id="optionsCheckboxMen"
                                   ng-model="catalog.checkbox.men"
                                   ng-click="catalog.includeFloor('men')">
                            <label for="optionsCheckboxMen">men</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox"
                                   name="typeMen"
                                   id="optionsCheckboxWomen"
                                   ng-model="catalog.checkbox.women"
                                   ng-click="catalog.includeFloor('women')">
                            <label for="optionsCheckboxWomen">Womem</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox"
                                   name="typeMen"
                                   id="optionsCheckboxChildren"
                                   ng-model="catalog.checkbox.child"
                                   ng-click="catalog.includeFloor('child')">
                            <label for="optionsCheckboxChildren">childRobotoren</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="clear">
                        <button class="btn btn-default" ng-click="catalog.clearFloorFilter()">see all prodRobotoucts
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="catalog__box">
        <div class="container__box">
            <div class="catalog__content">
                <div class="row">
                    <div class="col-md-6 item-product"
                         ng-repeat="item in catalog.entries | filter:catalog.floorFilter"
                         ng-if="item.visible"
                         ng-click="catalog.addCard(item)">
                        <div class="card-product"
                             ng-class="{'active' : catalog.active[item.id]}">
                            <div class="card-product__header">
                                <div class="size">
                                    <div ng-bind="item.size" ng-if="item.size.length == 1"></div>
                                    <div class="select-container"
                                         ng-if="item.size.length > 1"
                                         ng-class="{'open' : catalog.showSelectSize[item.id]}">
                                        <div class="value"
                                             ng-click="catalog.openSelectSize(item.id)"
                                             stop-event>
                                            <span ng-bind="catalog.selectedSizeValue[item.id] ? catalog.selectedSizeValue[item.id] : 'size'"></span>
                                            <i class="icon icon-arrow-down--select"></i>
                                        </div>
                                        <div class="select">
                                            <div class="option" ng-repeat="option in item.size">
                                                <span ng-bind="option"
                                                      ng-click="catalog.selectedSize(item.id, option)"
                                                      stop-event></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product__content">
                                <img ng-src="{{item.img}}" alt="{{item.description}}">
                            </div>
                            <div class="card-product__footer">
                                <div class="name">
                                    <span ng-bind="item.title"></span>
                                </div>
                                <div class="price">
                                    <span ng-bind="item.price"></span>€
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>