body {
  font-family: "Roboto", "Exo 2", sans-serif;
  font-size: 12px; }

.row {
  margin-right: -15px;
  margin-left: -15px;
  float: left;
  width: 100%; }
  .row .col-lg-1, .row .col-sm-1, .row .col-xs-1, .row .col-md-1 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-2, .row .col-sm-2, .row .col-xs-2, .row .col-md-2 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-3, .row .col-sm-3, .row .col-xs-3, .row .col-md-3 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-4, .row .col-sm-4, .row .col-xs-4, .row .col-md-4 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-5, .row .col-sm-5, .row .col-xs-5, .row .col-md-5 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-6, .row .col-sm-6, .row .col-xs-6, .row .col-md-6 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-7, .row .col-sm-7, .row .col-xs-7, .row .col-md-7 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-8, .row .col-sm-8, .row .col-xs-8, .row .col-md-8 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-9, .row .col-sm-9, .row .col-xs-9, .row .col-md-9 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-10, .row .col-sm-10, .row .col-xs-10, .row .col-md-10 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-11, .row .col-sm-11, .row .col-xs-11, .row .col-md-11 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-12, .row .col-sm-12, .row .col-xs-12, .row .col-md-12 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-13, .row .col-sm-13, .row .col-xs-13, .row .col-md-13 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-14, .row .col-sm-14, .row .col-xs-14, .row .col-md-14 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-15, .row .col-sm-15, .row .col-xs-15, .row .col-md-15 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-16, .row .col-sm-16, .row .col-xs-16, .row .col-md-16 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-17, .row .col-sm-17, .row .col-xs-17, .row .col-md-17 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-18, .row .col-sm-18, .row .col-xs-18, .row .col-md-18 {
    padding-right: 15px;
    padding-left: 15px;
    float: left; }
  .row .col-lg-1, .row .col-sm-1, .row .col-xs-1, .row .col-md-1 {
    width: 5.55556%; }
  .row .col-lg-2, .row .col-sm-2, .row .col-xs-2, .row .col-md-2 {
    width: 11.11111%; }
  .row .col-lg-3, .row .col-sm-3, .row .col-xs-3, .row .col-md-3 {
    width: 16.66667%; }
  .row .col-lg-4, .row .col-sm-4, .row .col-xs-4, .row .col-md-4 {
    width: 22.22222%; }
  .row .col-lg-5, .row .col-sm-5, .row .col-xs-5, .row .col-md-5 {
    width: 27.77778%; }
  .row .col-lg-6, .row .col-sm-6, .row .col-xs-6, .row .col-md-6 {
    width: 33.33333%; }
  .row .col-lg-7, .row .col-sm-7, .row .col-xs-7, .row .col-md-7 {
    width: 38.88889%; }
  .row .col-lg-8, .row .col-sm-8, .row .col-xs-8, .row .col-md-8 {
    width: 44.44444%; }
  .row .col-lg-9, .row .col-sm-9, .row .col-xs-9, .row .col-md-9 {
    width: 50%; }
  .row .col-lg-10, .row .col-sm-10, .row .col-xs-10, .row .col-md-10 {
    width: 55.55556%; }
  .row .col-lg-11, .row .col-sm-11, .row .col-xs-11, .row .col-md-11 {
    width: 61.11111%; }
  .row .col-lg-12, .row .col-sm-12, .row .col-xs-12, .row .col-md-12 {
    width: 66.66667%; }
  .row .col-lg-13, .row .col-sm-13, .row .col-xs-13, .row .col-md-13 {
    width: 72.22222%; }
  .row .col-lg-14, .row .col-sm-14, .row .col-xs-14, .row .col-md-14 {
    width: 77.77778%; }
  .row .col-lg-15, .row .col-sm-15, .row .col-xs-15, .row .col-md-15 {
    width: 83.33333%; }
  .row .col-lg-16, .row .col-sm-16, .row .col-xs-16, .row .col-md-16 {
    width: 88.88889%; }
  .row .col-lg-17, .row .col-sm-17, .row .col-xs-17, .row .col-md-17 {
    width: 94.44444%; }
  .row .col-lg-18, .row .col-sm-18, .row .col-xs-18, .row .col-md-18 {
    width: 100%; }
  .row.middle {
    margin-right: -8px;
    margin-left: -8px; }
    .row.middle .col-lg-1, .row.middle .col-sm-1, .row.middle .col-xs-1, .row.middle .col-md-1 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-2, .row.middle .col-sm-2, .row.middle .col-xs-2, .row.middle .col-md-2 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-3, .row.middle .col-sm-3, .row.middle .col-xs-3, .row.middle .col-md-3 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-4, .row.middle .col-sm-4, .row.middle .col-xs-4, .row.middle .col-md-4 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-5, .row.middle .col-sm-5, .row.middle .col-xs-5, .row.middle .col-md-5 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-6, .row.middle .col-sm-6, .row.middle .col-xs-6, .row.middle .col-md-6 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-7, .row.middle .col-sm-7, .row.middle .col-xs-7, .row.middle .col-md-7 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-8, .row.middle .col-sm-8, .row.middle .col-xs-8, .row.middle .col-md-8 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-9, .row.middle .col-sm-9, .row.middle .col-xs-9, .row.middle .col-md-9 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-10, .row.middle .col-sm-10, .row.middle .col-xs-10, .row.middle .col-md-10 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-11, .row.middle .col-sm-11, .row.middle .col-xs-11, .row.middle .col-md-11 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-12, .row.middle .col-sm-12, .row.middle .col-xs-12, .row.middle .col-md-12 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-13, .row.middle .col-sm-13, .row.middle .col-xs-13, .row.middle .col-md-13 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-14, .row.middle .col-sm-14, .row.middle .col-xs-14, .row.middle .col-md-14 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-15, .row.middle .col-sm-15, .row.middle .col-xs-15, .row.middle .col-md-15 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-16, .row.middle .col-sm-16, .row.middle .col-xs-16, .row.middle .col-md-16 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-17, .row.middle .col-sm-17, .row.middle .col-xs-17, .row.middle .col-md-17 {
      padding-right: 8px;
      padding-left: 8px; }
    .row.middle .col-lg-18, .row.middle .col-sm-18, .row.middle .col-xs-18, .row.middle .col-md-18 {
      padding-right: 8px;
      padding-left: 8px; }
  .row.small {
    margin-right: -4px;
    margin-left: -4px; }
    .row.small .form-group {
      margin-bottom: 8px; }
    .row.small .col-lg-1, .row.small .col-sm-1, .row.small .col-xs-1, .row.small .col-md-1 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-2, .row.small .col-sm-2, .row.small .col-xs-2, .row.small .col-md-2 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-3, .row.small .col-sm-3, .row.small .col-xs-3, .row.small .col-md-3 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-4, .row.small .col-sm-4, .row.small .col-xs-4, .row.small .col-md-4 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-5, .row.small .col-sm-5, .row.small .col-xs-5, .row.small .col-md-5 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-6, .row.small .col-sm-6, .row.small .col-xs-6, .row.small .col-md-6 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-7, .row.small .col-sm-7, .row.small .col-xs-7, .row.small .col-md-7 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-8, .row.small .col-sm-8, .row.small .col-xs-8, .row.small .col-md-8 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-9, .row.small .col-sm-9, .row.small .col-xs-9, .row.small .col-md-9 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-10, .row.small .col-sm-10, .row.small .col-xs-10, .row.small .col-md-10 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-11, .row.small .col-sm-11, .row.small .col-xs-11, .row.small .col-md-11 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-12, .row.small .col-sm-12, .row.small .col-xs-12, .row.small .col-md-12 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-13, .row.small .col-sm-13, .row.small .col-xs-13, .row.small .col-md-13 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-14, .row.small .col-sm-14, .row.small .col-xs-14, .row.small .col-md-14 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-15, .row.small .col-sm-15, .row.small .col-xs-15, .row.small .col-md-15 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-16, .row.small .col-sm-16, .row.small .col-xs-16, .row.small .col-md-16 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-17, .row.small .col-sm-17, .row.small .col-xs-17, .row.small .col-md-17 {
      padding-right: 4px;
      padding-left: 4px; }
    .row.small .col-lg-18, .row.small .col-sm-18, .row.small .col-xs-18, .row.small .col-md-18 {
      padding-right: 4px;
      padding-left: 4px; }

.w-5 {
  width: 5% !important; }

.w-10 {
  width: 10% !important; }

.w-15 {
  width: 15% !important; }

.w-20 {
  width: 20% !important; }

.w-25 {
  width: 25% !important; }

.w-30 {
  width: 30% !important; }

.w-35 {
  width: 35% !important; }

.w-40 {
  width: 40% !important; }

.w-45 {
  width: 45% !important; }

.w-50 {
  width: 50% !important; }

.w-55 {
  width: 55% !important; }

.w-60 {
  width: 60% !important; }

.w-65 {
  width: 65% !important; }

.w-70 {
  width: 70% !important; }

.w-75 {
  width: 75% !important; }

.w-80 {
  width: 80% !important; }

.w-85 {
  width: 85% !important; }

.w-90 {
  width: 90% !important; }

.w-95 {
  width: 95% !important; }

.w-100 {
  width: 100% !important; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  padding: 40px 0 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  .header.scrolled {
    background-color: #535253;
    padding: 20px 0 0;
    height: 80px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

.header__box .logo, .header__box .menu {
  float: left; }

.header__box .logo {
  width: 53px; }

.header__box .menu {
  width: -webkit-calc(100% - 53px);
  width: calc(100% - 53px); }

.container__box {
  max-width: 1152px;
  margin: 0 auto; }

.svg-icons {
  display: none;
  width: 0;
  height: 0; }

.first__box {
  background: #333333 url("../images/pictures/bg-home.jpg") no-repeat center;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FFFFFF; }
  .first__box .title, .first__box .desc {
    text-align: center;
    line-height: 100%;
    color: #FFFFFF; }
  .first__box .title {
    font-size: 5em;
    margin-bottom: 20px; }
  .first__box .desc {
    font-size: 1.667em;
    margin-bottom: 5px; }
  .first__box .arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
    margin: auto; }
    .first__box .arrow.fill-white:hover {
      fill: #AA9B77; }

.filter__box {
  padding: 46px 0;
  width: 100%;
  float: left; }
  .filter__box .checkbox-group, .filter__box .clear {
    padding: 0 32px; }
  .filter__box .clear {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.footer {
  color: #FFFFFF; }
  .footer a {
    color: #FFFFFF; }

.sub-footer, .footer-layout {
  width: 100%;
  float: left; }

.sub-footer {
  height: 72px;
  font-size: 1.333em;
  padding: 12px 0; }
  .sub-footer .container__box {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .sub-footer .icon-twitter {
    margin-right: 20px; }

.footer-layout {
  padding: 106px 0 114px; }
  .footer-layout .left__box {
    text-transform: uppercase; }
    .footer-layout .left__box .title {
      font-size: 1.667em;
      line-height: 100%;
      margin-bottom: 18px; }
    .footer-layout .left__box .desc {
      font-size: 0.8333em;
      line-height: 200%; }
  .footer-layout .right__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer-layout .right__box .menu {
      margin-top: 45px; }
    .footer-layout .right__box .copyright {
      font-size: 1.5em;
      margin-top: 10px;
      text-align: right; }

.bg-white {
  background-color: #FFFFFF; }

.bg-black {
  background-color: #000000; }

.bg-charcoal {
  background-color: #424242; }

.bg-bossanova {
  background-color: #535253; }

.bg-alice-blue {
  background-color: #F5F6F7; }

.fill-white {
  fill: #FFFFFF; }

.fill-black {
  fill: #000000; }

.fill-charcoal {
  fill: #424242; }

.fill-bossanova {
  fill: #535253; }

.color-white {
  color: #FFFFFF; }

.color-black {
  color: #000000; }

.color-charcoal {
  color: #424242; }

.color-bossanova {
  color: #535253; }

.menu ul li {
  text-transform: capitalize;
  padding: 6px 12px; }

.menu.menu__header ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .menu.menu__header ul li {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 18px; }
    .menu.menu__header ul li a {
      color: #FFFFFF; }
    .menu.menu__header ul li:last-child {
      margin-right: 0;
      padding-right: 0; }

.menu.menu__footer ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .menu.menu__footer ul li {
    font-size: 1.167em;
    text-transform: uppercase;
    padding: 2px 4px;
    position: relative; }
    .menu.menu__footer ul li a {
      color: #FFFFFF; }
    .menu.menu__footer ul li:after {
      content: '';
      background-color: #94886B;
      width: 1px;
      height: 12px;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
    .menu.menu__footer ul li:last-child {
      padding-right: 0; }
      .menu.menu__footer ul li:last-child:after {
        display: none; }

.btn {
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  margin-bottom: 0;
  display: inline-block;
  font-family: "Roboto", "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .btn.btn-default {
    background-color: #AA9B77;
    color: #FFFFFF;
    height: 52px; }
    .btn.btn-default:hover, .btn.btn-default:active {
      background-color: #94886B; }

.checkbox {
  font-family: "Roboto", "Exo 2", sans-serif;
  padding-left: 27px;
  margin: 0; }
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 18px;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #000000;
    line-height: 24px;
    min-height: 24px;
    cursor: pointer; }
    .checkbox label:before, .checkbox label:after {
      content: "";
      display: inline-block;
      position: absolute;
      margin-left: -24px; }
    .checkbox label:before {
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      border: 2px solid #CCCCCC;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    .checkbox label:after {
      width: 15px;
      height: 12px;
      left: 5px;
      top: 6px; }
    .checkbox label:after {
      background: url("../images/icons/icon-checkbox--checked.svg") center no-repeat;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: scale(0.5);
      -khtml-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    .checkbox label:hover:before {
      border-color: #AA9B77;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden; }
    .checkbox input[type="checkbox"]:checked + label:before {
      border-color: #AA9B77;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    .checkbox input[type="checkbox"]:checked + label:after {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      -khtml-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
    .checkbox input[type="checkbox"]:disabled + label::after {
      cursor: not-allowed; }

.checkbox-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .checkbox-group .checkbox {
    margin-right: 40px; }

.icon {
  background-repeat: no-repeat;
  display: block; }
  .icon.icon-arrow-down--scroll {
    background-image: url("../images/icons/icon-arrow-down--scroll.svg");
    background-size: 17px 11px;
    width: 17px;
    height: 11px; }
  .icon.icon-arrow-down--select {
    background-image: url("../images/icons/icon-arrow-down--select.svg");
    background-size: 6px 4px;
    width: 6px;
    height: 4px; }
  .icon.icon-logo.white {
    background-image: url("../images/icons/icon-logo.svg");
    background-size: 53px 40px;
    width: 53px;
    height: 40px; }

.icon-arrow-down {
  width: 34px;
  height: 22px; }

.icon-arrow-down--select {
  width: 12px;
  height: 8px; }

.icon-shopping-cart {
  width: 24px;
  height: 20px; }

.icon-twitter {
  width: 24px;
  height: 20px; }
