<div class="container__box" ng-controller="HeaderCtrl as header">
    <div class="header__box">
        <div class="logo">
            <a ui-sref="index">
                <i class="icon icon-logo white"></i>
            </a>
        </div>
        <div class="menu menu__header">
            <ul class="list">
                <li>
                    <a ui-sref="index">home</a>
                </li>
                <li>
                    <a ui-sref="index">Products</a>
                </li>
                <li class="container__dropdown" ng-class="{'open' : header.showDropDown && header.list.length > 0}">
                    <svg class="icon-shopping-cart fill-white"
                    ng-class="{'fill-tallow' : header.list.length}"
                    ng-click="header.openDropDownCard()">
                        <use xlink:href="#icon-shopping-cart"></use>
                    </svg>
                    <div class="count-product" ng-if="header.list.length">
                        <span ng-bind="header.list.length"></span>
                    </div>
                    <div class="card-dropdown">
                        <div class="items">
                            <div class="item" ng-repeat="item in header.list">
                                <div class="title" ng-bind="item.title"></div>
                                <div class="price">
                                    <span ng-bind="item.price * item.cardCount | number:2"></span>&euro;
                                </div>
                                <div class="count" ng-bind="item.cardCount"></div>
                            </div>
                        </div>
                        <div class="total">
                            Total: <span ng-bind="header.totalCard() | number:2"></span>&euro;
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>