$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBossanova: #535253;
$colorCharcoal: #424242;
$colorPaleOyster: #94886B;
$colorTallow: #AA9B77;
$colorAliceBlue: #F5F6F7;
$colorVeryLightGrey: #CCCCCC;