@import "../variables/variables";
@import "../mixins/mixins";

$defaultValue: 15px;
$columns: 18;

.row {
  margin-right: -$defaultValue;
  margin-left: -$defaultValue;
  &:after, &:before {
    display: table;
    content: ' ';
  }
  &:after {
    clear: both;
  }
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      padding-right: $defaultValue;
      padding-left: $defaultValue;
      float: left;
    }
  }
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: ($i / $columns) * 100%;
    }
  }
  @media (max-width: 767px) {
    @for $i from 1 through $columns {
      .col-md-#{$i} {
        width: 100%;
      }
    }
  }
}

/// Width
@for $i from 1 through 20 {
  .w-#{$i*5} {
    width: #{$i*5%} !important;

  }
}

