@import "../mixins/mixins";
@import "../variables/variables";

/// Background Color

.bg-white {
  background-color: $colorWhite;
}

.bg-black {
  background-color: $colorBlack;
}

.bg-charcoal {
  background-color: $colorCharcoal;
}

.bg-bossanova {
  background-color: $colorBossanova;
}

.bg-alice-blue {
  background-color: $colorAliceBlue;
}

/// Fill

.fill-white {
  fill: $colorWhite;
}

.fill-black {
  fill: $colorBlack;
}

.fill-charcoal {
  fill: $colorCharcoal;
}

.fill-bossanova {
  fill: $colorBossanova;
}

.fill-tallow {
  fill: $colorTallow;
}

/// Color text
.color-white {
  color: $colorWhite;
}

.color-black {
  color: $colorBlack;
}

.color-charcoal {
  color: $colorCharcoal;
}

.color-bossanova {
  color: $colorBossanova;
}