@import "../mixins/mixins";
@import "../variables/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  padding: 40px 0 0;
  z-index: 9;
  @include transition('all .5s ease');
  &.scrolled {
    background-color: $colorBossanova;
    padding-top: 20px;
    height: 80px;
    @include transition('all .5s ease');
  }
}

.header__box {
  .logo, .menu {
    float: left;
  }
  .logo {
    width: 53px;
  }
  .menu {
    width: calc(100% - 53px);
  }
}