<div class="first__box">
    <div class="container__box">
        <h2 class="title">Our clothing , your comfort</h2>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        <p class="desc">eiusmod tempor incididunt ut labore et dolore</p>
        <p class="desc">magna aliqua.</p>

        <svg class="arrow icon-arrow-down fill-white">
            <use xlink:href="#icon-arrow-down--scroll"></use>
        </svg>

    </div>
</div>

<div class="filter__box bg-alice-blue">
    <div class="container__box">
        <div class="row">
            <div class="col-md-9">
                <div class="checkbox-group">
                    <div class="checkbox">
                        <input type="checkbox" name="typeMen" id="optionsCheckboxMen">
                        <label for="optionsCheckboxMen" class="">men</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="typeMen" id="optionsCheckboxWomen">
                        <label for="optionsCheckboxWomen" class="">Womem</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="typeMen" id="optionsCheckboxChildren">
                        <label for="optionsCheckboxChildren" class="">childRobotoren</label>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="clear">
                    <button class="btn btn-default">see all prodRobotoucts</button>
                </div>
            </div>
        </div>
    </div>
</div>