@import "../mixins/mixins";
@import "../variables/variables";

///Menu
.menu {
  ul {
    li {
      text-transform: capitalize;
      padding: 6px 12px;
    }
  }
  &.menu__header {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        font-size: 1.5em;
        padding: 10px 20px;
        margin-right: 18px;
        position: relative;
        a {
          color: $colorWhite;
        }
        &:last-child {
          margin-right: 0;
          padding-right: 0;
        }
        .count-product {
          background-color: $colorTallow;
          width: 18px;
          height: 18px;
          font-size: 12px;
          color: $colorWhite;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -7px;
          right: -7px;
          @include border-radius(50%);
        }
      }
    }
  }
  &.menu__footer {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        font-size: 1.167em;
        text-transform: uppercase;
        padding: 2px 4px;
        position: relative;
        a {
          color: $colorWhite;
        }
        &:after {
          content: '';
          background-color: $colorPaleOyster;
          width: 1px;
          height: 12px;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &:last-child {
          padding-right: 0;
          &:after {
            display: none;
          }
        }
      }
    }
  }
}